/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

body {
  margin: 0 2em;
}

body,
button,
input,
select,
textarea {
  color: #cdcdcd;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h1{
  text-align: center
}

p, div{
  margin-bottom: 1em;
  padding: .2rem 0 ;
}