$theme-colors: (
    "primary": #bdc3ee,
    "secondary": #f7eeee,
    "success": #bdc3ee,
    "danger": #e48ea4,
    "tags": #7393eb,
    "info": #de5879 ,
    "light": #eae8f0,
    "dark": #060718,
    "checkbox": #e48ea4,
    "muted": #bdc3ee ,
    "mutedPlus": #5b5f6a
);

$enable-gradients: true;
$enable-shadows : true;

@import "../../node_modules/bootstrap/scss/bootstrap";