.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em;
    border: rgb(184, 183, 183) 1px solid;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    justify-content: space-between;
}

.navbar__link{
    color: rgb(137, 187, 226);
}
